<article id='quotes-content' class="text-<%= text_size_from_cookies %>" itemscope itemtype="http://schema.org/Article">
  <h1 id='subject' itemprop='name'><%= @page.title %></h1>
  <div id='page-body' itemprop='articleBody'>
    <%= sanitize(@page.body, tags: %w(div ul ol li h1 h2 blockquote b i strike u hr br a)).html_safe %>
  </div>
  <hr>
  <div id='quotes'>
    <div id='quotes-list-title'><%= ::I18n.t('quote_page.addresses_list_title') %></div>
    <% is_first = true %>
    <% @page.addresses.each do |quote_human,path| %><%= is_first ? (is_first=false; '') : ', ' %><a href="<%= my_link_to(path) %>"><%= quote_human %></a><% end %>
  </div>
  <div class='notification'>
    <%= ::I18n.t('quote_page.whant_to_fix') %>: <a href='https://t.me/bibleox'>https://t.me/bibleox</a>
  </div>
</div>
