<%= javascript_include_tag "admin", media: "all" %>
<%= stylesheet_link_tag "pell" %>

<%= form_with(model: [:admin, quotes_page]) do |form| %>
  <% if quotes_page.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(quotes_page.errors.count, "error") %> ошибки:</h2>

      <ul>
        <% quotes_page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<br>
  <div>
    <%= form.submit %>
  </div>
<br>

  <div>
    <%= form.label 'Тема', style: "display: block" %>
    <%= form.select(:s_id, ::QuotesSubject.pluck(:"title_#{ ::I18n.locale }", :id), {}, { :class => 'choices' }) %>
  </div>

  <div>
    <%= form.label 'Заголовок', style: "display: block" %>
    <%= form.text_area :title %>
  </div>

  <div>
    <%= form.label 'URL-путь', style: "display: block" %>
    <%= form.text_area :path %>
  </div>

  <div>
    <%= form.label 'Язык', style: "display: block" %>
    <%= form.text_field :lang %>
  </div>

  <div>
    <%= form.label 'Статья', style: "display: block" %>
    <%= form.hidden_field :body %>
    <div id='body-html-editor'></div>
  </div>
<% end %>

<script>
  const editor = pell.init({
    element: document.getElementById('body-html-editor'),
    onChange: html => {
      document.getElementById('quotes_page_body').value = html
    }
  });

  editor.content.innerHTML = document.getElementById('quotes_page_body').value;
</script>
