<div id="<%= dom_id quotes_page %>">
  <p>
    <strong>Заголовок:</strong>
    <%= quotes_page.title %>
  </p>

  <p>
    <strong>Meta-description:</strong>
    <%= quotes_page.meta_desc %>
  </p>

  <p>
    <strong>URL-путь:</strong>
    <%= quotes_page.path %>
  </p>

  <p>
    <strong>Язык:</strong>
    <%= flag_by_lang(quotes_page.lang) %>
  </p>

  <p>
    <strong>Позиция:</strong>
    <%= quotes_page.position %>
  </p>

  <p>
    <strong>Тема:</strong>
    <%= ::QuotesSubject.find_by(id: quotes_page.s_id).title_ru %>
  </p>

  <p>
    <strong>Статья:</strong>
    <br>
    <%= sanitize(quotes_page.body, tags: %w(div ul ol li h1 h2 blockquote b i strike u hr br a)).html_safe %>
  </p>

</div>
