<div id="<%= dom_id quotes_subject %>">
  <p>
    <strong>Позиция:</strong> <%= quotes_subject.position %>
  </p>

  <p>
    <strong>Заголовок 🇷🇺🇺🇸🇬🇷🇯🇵:</strong>
    <%= quotes_subject.title_ru %> /
    <%= quotes_subject.title_en %> /
    <%= quotes_subject.title_gr %> /
    <%= quotes_subject.title_jp %>
  </p>

  <p>
    <strong>Описание 🇷🇺🇺🇸🇬🇷🇯🇵:</strong>
    <%= quotes_subject.desc_ru %> /
    <%= quotes_subject.desc_en %> /
    <%= quotes_subject.desc_gr %> /
    <%= quotes_subject.desc_jp %>
  </p>

  <p>
    <strong>Родитель:</strong>
    <% if quotes_subject.p_id %>
      <%= ::QuotesSubject.find_by(id: quotes_subject.p_id)&.title_ru %>
    <% else %>
      Это корневая тема
    <% end %>
  </p>

</div>
