<div id="<%= dom_id quotes_subject %>">
  <p>
    <strong>행햟햡쮏쮏쒫쮏 RU 游游:</strong>
    <%= quotes_subject.title_ru %>
  </p>

  <p>
    <strong>행햟햡쮏쮏쒫쮏 EN 游쥟릖:</strong>
    <%= quotes_subject.title_en %>
  </p>

  <p>
    <strong>행햟햡쮏쮏쒫쮏 GR 游섫릖:</strong>
    <%= quotes_subject.title_gr %>
  </p>

  <p>
    <strong>행햟햡쮏쮏쒫쮏 JP 游游:</strong>
    <%= quotes_subject.title_jp %>
  </p>

  <p>
    <strong>뤯햦혜햟햫햦햣:</strong>
    <%= quotes_subject.desc %>
  </p>

  <p>
    <strong>먫쮏얧쟴햣햩혧:</strong>
    <% if quotes_subject.p_id %>
      <%= ::QuotesSubject.find_by(id: quotes_subject.p_id)&.title_ru %>
    <% else %>
      햜혝 햨쮐햫햣쒫썜 혝햣햪햟
    <% end %>
  </p>

</div>
