<nav id="menu-author-books" class="page-menu menu-books book-clicked hidden">

  <form action="/" onsubmit="menuABooks.goToSearch();return false;">
    <input type="text" id="filter-author-books" oninput="menuABooks.filterBooks(this.value);" value="" placeholder="<%= t('fast_search') %>">
    <a onclick="menuABooks.goToSearch();return false;"><svg width="20" height="20" viewBox="0 0 20 20"><path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path></svg></a>
  </form>

  <div class='small hint'><%= I18n.t('menu.another_categories') %></div>

  <% if @parent_books.present? %>
    <% @parent_books.each do |title, path| %>
      <% classes = ['kanon'] %>
      <% path == @page_in_menu&.path ? classes.push('selected') : nil %>
      <a class="<%= classes.join(' ') %>" href="<%= my_page_link_to("/#{path}") %>"><%= title %></a>
    <% end %>
  <% else %>
    <div class="hint"><%= ::I18n.t("page.no_books_links_yet") %></div>
  <% end %>
</nav>
