<div id='chapter-header'>

<% if @breadcrumbs.present? %>
  <% content_for(:breadcrumbs) do %>
  <div class='flex-wrap breadcrumbs-wrap'>
    <div class='content'>
      <nav class='breadcrumbs'>
      <% @breadcrumbs.each.with_index do |(title, path), i| %>
        <% if path.present? %>
          <a href="<%= my_page_link_to("/#{path}") %>"><%= title %></a>
        <% else %>
          <%= title %>
        <% end %>
        <%= (i+1) == @breadcrumbs.size ? '' : ' » ' %>
      <% end %>
      </nav>
    </div>
  </div>
  <% end %>
<% end %>

<% if @page.cover? %>
  <% content_for(:img_header) do %>
  <div class='flex-wrap img-header-wrap'>
    <div class='blured'>
      <img src="<%= @page.cover.large.url %>" draggable='false'/>
    </div>
    <div class="content">
      <div class='img-header'>
        <img src="<%= @page.cover.large.url %>" draggable='false'/>
      </div>
    </div>
  </div>
  <% end %>
<% end %>

  <% if @parent_page.present? && @page.is_show_parent  %>
    <h2 class='parent-title'>
      <a href='<%= my_page_link_to("/#{@parent_page.path}") %>'><%= @parent_page.title %></a>
    </h2>
  <% end %>

  <h1
    class="title"
    id='current-address'
    data-book-short-name='<%= @page.path %>'
    data-lang-ui='<%= I18n.locale %>'
    data-lang-content='<%= @content_lang %>'
    data-book-code=''
    data-page-path='<%= @page.path %>'
    data-disable-chapters='<%= @is_disable_chapters ? 1 : 0 %>'
    data-chapter='<%= @chapter_current %>'
    itemprop="headline"
  >
    <% if @page.is_page_bib_comment? %>
      <a href='<%= my_bib_link_to("/#{@page.link_to_bible_verse}") %>'><%= @page.title %></a>  |
      <%= t('bible_page.comment_title') %>
    <% else %>
      <%= @page.title %>
    <% end %>
  </h1>

  <% if @page.title_sub.present? %>
    <div id='title-sub'><%= @page.title_sub %></div>
  <% end %>

  <% if @page.links.present? %>
    <div id='links-sub'>
      <div class='btn-group'>
        <% @page.links.each do |k,v| %>
          <% if v.present? %>
            <a class='btn' href='<%= v %>'><%= k %></a>
          <% else %>
            <div class='btn pressed'><%= k %></div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

<% if @tree_menu.present? %>

  <% if @page.is_search %>
  <form class='tree-search' id='search-form' action="<%= my_page_link_to("/#{@page.path}/search") %>">
    <div id='search-tree-input-area'>
      <input
        class='pretty'
        name="t"
        type="text"
        id='search-tree-input'
        required
        oninput='window.filterQueryPages(this.value, false);'
        placeholder='<%= I18n.t("page.search_placeholder") %>'
        value=''
        autocomplete='off'
      />
      <a onclick="document.getElementById('search-form').submit();"><svg width="20" height="20" viewBox="0 0 20 20"><path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path></svg></a>
    </div>
  </form>
  <% end %>

  <div class='menu-tree'>
    <div>
    <%= render(partial: 'pages/menu', locals: {items: @tree_menu, depth: 0, page_lang: @page.lang}) %>
    </div>
  </div>

<% elsif @chapters.present? && @chapters.size > 1 %>

  <div class='menu-tree'>
    <div class='small hint' style="margin-left: 12px;"><%= ::I18n.t('menu.same_subject') %></div>
    <div class='items'>
      <% @chapters.each.with_index do |(title, path, is_gold), i| %>
        <% classes = "menu-unit menu-link" %>
        <% i == (@chapter_current-1) ? (classes += ' selected') : nil %>
        <% is_gold ? (classes += ' gold') : nil %>
        <div class="<%= classes %>">
          <a href="<%= my_page_link_to("/#{path}") %>"><%= title %></a>
        </div>
      <% end %>
    </div>
  </div>

<% end %>
</div>
