<div id='chapter-header'>
  <% if @breadcrumbs.present? %>
    <nav class='breadcrumbs'>
    <% @breadcrumbs.each.with_index do |(title, path), i| %>
      <% if path.present? %>
        <a href="<%= my_page_link_to("/#{path}") %>"><%= title %></a>
      <% else %>
        <%= title %>
      <% end %>
      <%= (i+1) == @breadcrumbs.size ? '' : ' » ' %>
    <% end %>
    </nav>
  <% end %>

  <% if @page.cover? %>
    <div class='img-header img-full-width'>
      <img src="<%= my_res_link_to(@page.cover.large.url) %>" draggable='false' />
    </div>
  <% end %>

  <h1
    class="title"
    id='current-address'
    data-book-short-name='<%= @page.path %>'
    data-lang-ui='<%= I18n.locale %>'
    data-lang-content='<%= @content_lang %>'
    data-book-code=''
    data-page-path='<%= @page.path %>'
    data-disable-chapters='<%= @is_disable_chapters ? 1 : 0 %>'
    data-chapter='<%= @chapter_current %>'
    itemprop="headline"
  >
    <%= @page.title %>
  </h1>

  <% if @page.title_sub.present? %>
    <div id='title-sub'><%= @page.title_sub %></div>
  <% end %>

<% if @tree_menu.present? %>

  <div class='menu-tree'>
    <% if @tree_menu.present? && @tree_menu.count > 4 %>
    <input type='text'
        class='filter pretty'
        oninput='window.filterQueryPages(this.value, false);'
        value=''
        placeholder='Фильтр'
        autofocus
    />
    <% end %>
    <div>
    <%= render(partial: 'pages/menu', locals: {items: @tree_menu, depth: 0}) %>
    </div>
  </div>

<% elsif @chapters.present? && @chapters.size > 1 %>

  <div class='menu-tree'>
    <div class='small hint' style="margin-left: 12px;"><%= ::I18n.t('menu.same_subject') %></div>
    <div class='items'>
      <% @chapters.each.with_index do |(title, path), i| %>
        <% classes = "menu-unit menu-link" %>
        <% i == (@chapter_current-1) ? (classes += ' selected') : nil %>
        <div class="<%= classes %>">
          <a href="<%= my_page_link_to("/#{path}") %>"><%= title %></a>
        </div>
      <% end %>
    </div>
  </div>

<% end %>
</div>
