<% if items.present? %>
  <div class='items'>
    <% items.each do |item| %>

      <div class='subject depth-<%= depth %>'>
        <% if item[:path] %>
          <a href="<%= my_page_link_to("/#{item[:path]}") %>"><%= item[:title] %></a>
        <% else %>
          <%= item[:title] %>
        <% end %>
      </div>

      <div class='level'>
        <% if item[:childs] %>
          <%= render(partial: 'pages/menu', locals: {items: item[:childs], depth: depth+1}) %>
        <% end %>
      </div>

    <% end %>
  </div>
<% end %>
