<% if items.present? %>
  <div class='items'>

    <% items.each do |item| %>

      <% _class = [] %>
      <% if item[:childs].present? %>
        <% _class.push('menu-subject') %>
      <% else %>
        <% _class.push('menu-unit', 'menu-link') %>
        <% if (item[:is_gold] && item[:priority] == 1 && item[:title] =~ /Иисус Христос/); _class.push('God') end %>
        <% item[:path].blank? ? _class.push('not-exist') : nil %>
      <% end %>
      <% item[:is_gold] ? _class.push('gold') : nil %>
      <div class='depth-<%= depth %> <%= _class.join(' ') %>'>
        <% if item[:childs].present? && item[:path].blank? %>
          <%= item[:title] %>
        <% elsif item[:path].presence %>
          <a href="<%= my_page_link_to("/#{item[:path]}", page_lang: page_lang) %>">
            <% if @menu_icons %>
              <img src='<%= @menu_icons[item[:path]] %>' loading="lazy"/>
            <% end %>
            <span><%= item[:title] %></span>
          </a>
        <% else %>
          <% link_params = {menu_id: item[:id], parent_id: item[:page_id]} %>
          <a
            rel='noindex nofollow'
            href="<%= my_page_link_to("/#{ item[:title].to_s.gsub(/[^\p{L}0-9_\-\s\(\)\,]/, '') }", page_lang: page_lang) %>?<%= link_params.map{ |k,v| "#{k}=#{v}" }.join('&') %>">
            <%= item[:title] %>
          </a>
        <% end %>
      </div>

      <% if item[:childs].present? %>
        <div class='level'>
          <%= render(partial: 'pages/menu', locals: {items: item[:childs], depth: depth+1, page_lang: page_lang}) %>
        </div>
      <% end %>

    <% end %>
  </div>
<% end %>
