<% if items.present? %>
  <div class='items'>

    <% items.sort_by{ |i| i[:childs].present? ? 1:0 }.each do |item| %>

      <% _class = [] %>
      <% if item[:childs].present? %>
        <% _class.push('menu-subject') %>
      <% else %>
        <% item[:path].present? ? _class.push('menu-unit menu-link') : _class.push('menu-unit menu-not-link') %>
      <% end %>
      <% item[:is_gold] ? _class.push('gold') : nil %>
      <div class='depth-<%= depth %> <%= _class.join(' ') %>'>
        <% if item[:path].presence %>
          <a href="<%= my_page_link_to("/#{item[:path]}", page_lang: page_lang) %>"><%= item[:title] %></a>
        <% else %>
          <%= item[:title] %>
        <% end %>
      </div>

      <% if item[:childs].present? %>
        <div class='level'>
          <%= render(partial: 'pages/menu', locals: {items: item[:childs], depth: depth+1, page_lang: page_lang}) %>
        </div>
      <% end %>

    <% end %>
  </div>
<% end %>
