<% if @verses.present? %>
  <div id='chapter-text'>
    <article id='page-body' itemprop="articleBody" class="verses text-<%= text_size_from_cookies %>">
      <table>
        <tbody>
          <% i_glob = 0 %>
          <% @verses.each.with_index do |chapter_data| %>
            <% if chapter_data['title'].present? %>
              <tr>
                <th></th>
                <th class='csl verse-title'>
                  <h3><%= chapter_data['title'].to_s.html_safe %></h3>
                </th>
              </tr>
            <% end %>

            <% chapter_data['lines'].each do |l| %>
              <% i_glob += 1 %>
              <tr>
                <td
                  class='verse-line'
                  id='L<%= i_glob %>'
                  data-line="<%= "#{i_glob}" %>"
                >
                  <%= i_glob %>
                </td>
                <td
                  class='csl verse-text'
                  id='T<%= i_glob %>'
                  data-line="<%= "#{i_glob}" %>"
                >
                  <%= l.html_safe %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </article>

    <% if @chapter_prev || @chapter_next %>
      <div id="pagination-bottom">
        <% if @chapter_prev > 0 %>
          <a href="<%= my_page_link_to("/#{@chapters[@chapter_prev].second}") %>">← <%= I18n.t('backward') %></a>
        <% else %>
          <span class='invisible'>← <%= I18n.t('backward') %></span>
        <% end %>
        <span id="end-tip"><%= I18n.t('end_chapter.the_end_of') %><br><%= @chapter_current + 1 %><%= ::I18n.t('end_chapter.suffix') %></span>
        <% if @chapter_next < @chapters.count %>
          <a href="<%= my_page_link_to("/#{@chapters[@chapter_next].second}") %>"><%= I18n.t('forward') %> →</a>
        <% else %>
          <span class='invisible'><%= I18n.t('forward') %> →</span>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
