<% content_for(:head) do %>
  <meta property="og:image" content="<%= asset_path("bogoroditsa.webp") %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content= "<%= @canonical_url %>" />
  <meta property="og:locale" content= "<%= ::I18n.locale %>" />
  <meta property="og:locale:alternate" content= "<%= ::I18n.locale == :ru ? 'en' : 'ru' %>" />
<% end %>


<% content_for(:img_header) do %>
<div class='flex-wrap img-header-wrap'>
    <div class='blured'>
  <%= image_tag('bogoroditsa.webp', draggable: 'false') %>
  </div>
  <div class="content">
    <div class='img-header'>
      <%= image_tag('bogoroditsa.webp', draggable: 'false') %>
    </div>
  </div>
</div>
<% end %>

<h1><%= I18n.t('about_site') %></h1>
<p><%= I18n.t('about_text') %>
<p><%= I18n.t('about_news') %>: <a href="https://t.me/bibleox">https://t.me/bibleox</a>
<p><%= I18n.t('about_contact') %>: <a href="https://t.me/rodion_orthodox">https://t.me/rodion_orthodox</a>, <a href="https://bibleox.com/ru/ru/w/родион-власов">https://bibleox.com/ru/ru/w/родион-власов</a>

<br><br>
<h2>Переводы Священного Писания:</h2>
<ul>
<li>русский (Синодальный, современный перевод Русской Православной Церкви на русский язык)</li>
<li>церковнославянский (Елизаветинская Библия, 1751)</li>
<li>церковнославянский перевод, русскими буквами</li>
<li>иврит (Ленинградский кодекс OSM + Delitzsch's Hebrew New Testament (DHNT) - Franz Delitzsch, 1885)</li>
<li>греческий (Септуагинта, перевод 70 толковников, LXX, Septuagint, koine greek)</li>
<li>английский, English (New King James Version, 1982)</li>
<li>немецкий (Schlachter 1951г)</li>
<li>арабский (New Van Dyck Bible – الكتاب المقدس 1999 Bible Society of Egypt)</li>
<li>японский (出典先:日本聖書協会　新共同訳 — Japanese New Interconfessional Translation Bible — Shinkyodo-yaku, 1987)</li>
<li>китайский (当代译本修订版 - Chinese Contemporary Bible, 2012)</li>
</ul>
