<% content_for(:head) do %>
  <meta property="og:image" content="<%= asset_path("bogoroditsa.webp") %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content= "<%= @canonical_url %>" />
  <meta property="og:locale" content= "<%= ::I18n.locale %>" />
  <meta property="og:locale:alternate" content= "<%= ::I18n.locale == :ru ? 'en' : 'ru' %>" />
<% end %>

<%= image_tag('bogoroditsa.webp', id: 'Bogoroditsa') %>
<p><%= I18n.t('about_text') %>
<p><%= I18n.t('about_news') %>: <a href="https://t.me/bibleox">https://t.me/bibleox</a>
<p><%= I18n.t('about_contact') %>: <a href="https://t.me/rodion_orthodox">https://t.me/rodion_orthodox</a>
