<% content_for(:head) do %>
  <meta property="og:image" content="<%= asset_path("bogoroditsa.webp") %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content= "<%= @canonical_url %>" />
  <meta property="og:locale" content= "<%= ::I18n.locale %>" />
  <meta property="og:locale:alternate" content= "<%= ::I18n.locale == :ru ? 'en' : 'ru' %>" />
<% end %>

<div class='img-header img-full-width' style='margin-top: -30px;'>
  <%= image_tag('bogoroditsa.webp') %>
</div>
<p><%= I18n.t('about_text') %>
<p><%= I18n.t('about_news') %>: <a href="https://t.me/bibleox">https://t.me/bibleox</a>
<p><%= I18n.t('about_contact') %>: <a href="https://t.me/rodion_orthodox">https://t.me/rodion_orthodox</a>

<br><br>
<h2>Переводы Священного Писания:</h2>
<ul>
<li>русский (Синодальный, современный перевод Русской Православной Церкви на русский язык)</li>
<li>церковнославянский (Елизаветинская Библия, 1751)</li>
<li>церковнославянский перевод, русскими буквами</li>
<li>иврит (Ленинградский кодекс)</li>
<li>греческий (Септуагинта, перевод 70 толковников, LXX, Septuagint, koine greek)</li>
<li>английский, English (New King James Version, 1982)</li>
<li>немецкий (Schlachter 1951г)</li>
<li>арабский (New Van Dyck Bible – الكتاب المقدس 1999 Bible Society of Egypt)</li>
<li>японский (出典先:日本聖書協会　新共同訳 — Japanese New Interconfessional Translation Bible — Shinkyodo-yaku, 1987)</li>
<li>китайский (当代译本修订版 - Chinese Contemporary Bible, 2012)</li>
</ul>
