<% content_for(:head) do %>
    <meta property="og:image" content="<%= my_res_link_to("/favicons/bibleox-for-social-#{ ::I18n.locale == :ru ? 'ru' : 'en' }.png") %>"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta property="og:type" content="book"/>
    <% @meta_book_tags&.each do |tag| %>
    <meta property="og:book:tag" content="<%= tag %>"/>
    <% end %>
    <meta name="keywords" content="<%= @meta_book_tags&.join(', ') %>" />
    <meta property="og:url" content= "<%= @canonical_url %>" />
    <meta property="og:locale" content= "<%= ::I18n.locale %>" />
    <meta property="og:locale:alternate" content= "<%= ::I18n.locale == :ru ? 'en' : 'ru' %>" />
<% end %>

<%= render(partial: 'pages/books') %>

<article id='page-content' class="looks-like-page text-<%= text_size_from_cookies %>" itemscope itemtype="http://schema.org/Article">
  <%= render(partial: 'pages/chapters') %>
  <%= render(partial: 'pages/text_bar') %>
  <%= render(partial: 'verses/audio_player') %>

  <% if @verses.present? %>
    <%= render(partial: 'pages/text') %>
  <% else %>

    <div id='page-body' itemprop='articleBody'>
      <%= sanitize(@page.body.to_s, tags: ::Page::ALLOW_TAGS).html_safe %>
    </div>

  <% end %>

  <div id='bottom-page-bar'>
    <div id="visits">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>
      <%= page_visit(@page) %>
    </div>
  </div>

  <div class='notification'>
    <div id="page-edit-telegram">
      <%= ::I18n.t('quote_page.whant_to_fix') %>: <a href='https://t.me/bibleox'>https://t.me/bibleox</a>
    </div>
    <!--
    <div id="page-edit">
      <%= ::I18n.t('quote_page.or_edit_page_by_yourself') %>:
      <a href="<%= "#{::SETTINGS['admin']['url'] }/pages/#{ @page.id.to_s }/" %>">
        <%= I18n.t('quote_page.edit_link') %>
      </a>
    </div>
    -->
    <% if @page.user_id %>
      <div id="page-author">
        <%= ::I18n.t('quote_page.author') %>: <%= @page&.user&.name %>
      </div>
    <% end %>
  </div>
</section>

<% content_for(:end_of_page) do %>
  <%= render(partial: 'verses/select_bar') %>
  <%= javascript_include_tag "index", media: "all" %>
<% end %>
