<% locale = I18n.locale %>
<nav id="menu-books" class="hidden">

  <div class='small hint' style='margin-top: 0;'><%= I18n.t('menu.veth_zavet') %></div>

  <% ::BOOKS.each do |book_code, data| %>
    <% next if data[:zavet] == 2 %>
    <% classes = [] %>
    <% @book_code == book_code ? classes.push('selected') : nil %>
    <% data[:is_kanon] ? classes.push('kanon') : classes.push('non-kanon') %>
    <a class="<%= classes.join(' ') %>" href="<%= "/#{locale}/#{book_code}/1/" %>" title="<%= data[:desc] %>"><%= ::I18n.t("books.mid.#{book_code}") %></a>
  <% end %>

  <div class='small hint'><%= I18n.t('menu.nov_zavet') %></div>

  <% ::BOOKS.each do |book_code, data| %>
    <% next if data[:zavet] == 1 %>
    <% classes = [] %>
    <% @book_code == book_code ? classes.push('selected') : nil %>
    <% data[:is_kanon] ? classes.push('kanon') : classes.push('non-kanon') %>
    <a class="<%= classes.join(' ') %>" href="<%= "/#{locale}/#{book_code}/1/" %>" title="<%= data[:desc] %>"><%= ::I18n.t("books.mid.#{book_code}") %></a>
  <% end %>
</nav>
