<div id='chapter-image'>
  <h2 class='breadcrumbs'><%= @breadcrumbs.join(' » ') %></h2>
  <h1
      class="title"
      id='current-address'
      data-book-short-name='<%= ::I18n.t("books.short.#{@book_code}") %>'
      style='text-align: center;'
      itemprop="headline"
    >
    <a href="<%= my_link_to("/#{@book_code}/1/") %>" id='current-book'><%= ::I18n.t("books.full.#{@book_code}") %></a>
  </h1>

<% if @verses.none? %>
  <div class='error'><%= ::I18n.t("errors.no_translation_for_this_book") %></div>
</div>
<% else %>
  <div class='small hint'><%= @is_psalm ? ::I18n.t('psalms') : ::I18n.t('chapters') %></div>
  <nav id='menu-chapters'>
    <% prev_chapter = @chapter - 1 %>
    <% now_chapter = @chapter %>
    <% next_chapter = @chapter + 1 %>
    <% (1..::BOOKS[@book_code][:chapters]).each do |i| %>
      <% classes = "chapter-num" %>
      <% i == now_chapter ? classes = ' selected' : nil %>
      <a id="ch-<%= i %>" class="<%= classes %>" href="<%= my_link_to("/#{@book_code}/#{i}/") %>" onclick="loadChapter(this); return false;"><%= i %></a>
    <% end %>
  </nav>
</div>
<% end %>
