<h1
    class="title"
    id='current-address'
    data-book-short-name='<%= ::I18n.t("books.short.#{@book_code}") %>'
    data-chapter='<%= @chapter %>'
    style='text-align: center;'
    itemprop="headline"
  >
  <a href="javascript:;" id='current-book' onclick="menuBooks.show('book-clicked');"><%= ::I18n.t("books.full.#{@book_code}") %></a>
</h1>

<% if @verses.none? %>
  <div class='error'><%= ::I18n.t("errors.no_translation_for_this_book") %></div>
<% else %>
  <div class='small hint'><%= @is_psalm ? ::I18n.t('psalms') : ::I18n.t('chapters') %></div>
  <nav id='menu-chapters'>
    <% prev_chapter = @chapter - 1 %>
    <% now_chapter = @chapter %>
    <% next_chapter = @chapter + 1 %>
    <% (1..::BOOKS[@book_code][:chapters]).each do |i| %>
      <% classes = 'chapter-num' %>
      <% i == now_chapter ? classes = ' selected' : nil %>
      <a class="<%= classes %>" href="<%= my_link_to("/#{@book_code}/#{i}/") %>" onclick="loadChapter(this); return false;"><%= i %></a>
    <% end %>
  </nav>

  <hr>

  <article itemprop="articleBody" class="verses">
    <table>
      <tbody>
        <% @verses.each do |v| %>
          <% if v.line == 0 %>
            <tr><td colspan='2' class='csl zero-verse'><%= sanitize(v.text) %></tr>
          <% else %>
            <tr>
              <td class='verse-line' id='L<%= v.line %>' data-line="<%= "#{v.line}" %>"><%= v.line %></td>
              <td class='csl verse-text' id='T<%= v.line %>' data-line="<%= "#{v.line}" %>">
                <%= sanitize(v.text, tags: %w(j e i br)) %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <div id="pagination-bottom">
      <% if prev_chapter > 0 %>
        <a href="/<%= @book_code %>/<%= prev_chapter %>">← <%= I18n.t('backward') %></a>
      <% else %>
        <span class='invisible'>← <%= I18n.t('backward') %></span>
      <% end %>
      <span id="end-tip"><%= I18n.t('end_chapter.the_end_of') %><br><%= now_chapter %><%= @is_psalm ? ::I18n.t('end_chapter.suffix_psalm') : ::I18n.t('end_chapter.suffix') %><br><%= @is_psalm ? ::I18n.t('end_chapter.psalm') : ::I18n.t('end_chapter.chapter') %></span>
      <% if next_chapter <= ::BOOKS[@book_code][:chapters] %>
        <a href="/<%= @book_code %>/<%= next_chapter %>"><%= I18n.t('forward') %> →</a>
      <% else %>
        <span class='invisible'><%= I18n.t('forward') %> →</span>
      <% end %>
    </div>
  </article>
<% end %>
