<% if @verses.present? %>
  <% prev_chapter = @chapter - 1 %>
  <% now_chapter = @chapter %>
  <% next_chapter = @chapter + 1 %>

  <% is_interliner = @verses.first.data&.fetch('w', nil).present? %>

  <div id='chapter-text'>
    <article itemprop="articleBody" class="verses <%= is_interliner ? 'interliner' : '' %>">
      <script>
        if (document.cookie.includes('textSize=1')) { document.querySelector('article').classList.add('text-small');
        } else if (document.cookie.includes('textSize=2')) { document.querySelector('article').classList.add('text-medium');
        } else if (document.cookie.includes('textSize=3')) { document.querySelector('article').classList.add('text-large');}
      </script>
      <table>
        <tbody>
          <% @verses.each do |v| %>
            <% if v.line == 0 %>
              <tr><td colspan='2' class='csl zero-verse'><%= sanitize(v.text) %></tr>
            <% else %>
              <tr>
                <td class='verse-line' id='L<%= v.line %>' data-line="<%= "#{v.line}" %>"><%= v.line %></td>
                <td class='csl verse-text t-c-dir' id='T<%= v.line %>' data-line="<%= "#{v.line}" %>">
                  <% if is_interliner %>
                    <%= interliner_helper(v.data['w'], @dict).html_safe %>
                  <% else %>
                    <%= sanitize(v.text, tags: %w(j e i br)) %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </article>

    <div id="pagination-bottom">
      <% if prev_chapter > 0 %>
        <a href="<%= my_bib_link_to("/#{@book_code}/#{prev_chapter}") %>">← <%= I18n.t('backward') %></a>
      <% else %>
        <span class='invisible'>← <%= I18n.t('backward') %></span>
      <% end %>
      <span id="end-tip"><%= I18n.t('end_chapter.the_end_of') %><br><%= now_chapter %><%= @is_psalm ? ::I18n.t('end_chapter.suffix_psalm') : ::I18n.t('end_chapter.suffix') %><br><%= @is_psalm ? ::I18n.t('end_chapter.psalm') : ::I18n.t('end_chapter.chapter') %></span>
      <% if next_chapter <= ::BOOKS[@book_code][:chapters] %>
        <a href="<%= my_bib_link_to("/#{@book_code}/#{next_chapter}") %>"><%= I18n.t('forward') %> →</a>
      <% else %>
        <span class='invisible'><%= I18n.t('forward') %> →</span>
      <% end %>
    </div>
  </div>

  <div class='tip-hkeys t-ui-dir'><%= I18n.t('tips.click_on_verse') %> <%= I18n.t('tips.click_on_verse__working') %> <div class='key'>Shift</div> <%= I18n.t('tips.click_on_verse__and') %> <div class='key'>Ctrl</div></dd>
<% end %>
