<div
    class="title"
    id='current-address'
    data-book-short-name='<%=  ::I18n.t("books.short.#{@book_code}") %>'
    data-chapter='<%= @chapter %>'
    style='text-align: center;'
  >
  <a href="javascript:;" id='current-book' onclick="menuBooks.show('book-clicked');"><%= ::I18n.t("books.full.#{@book_code}") %></a>
</div>

<div id='chapter-content'>
  <%= render(partial: 'verses/chapters') %>
</div>

<% content_for(:end_of_page) do %>
  <div id='select-bar' class='hidden'>
    <span id='select-mode-btn'>📌<br>Режим<br>выделения</span>
    <span id='copy-text-address-btn'>📋<br>Копировать<br>"текст" (ссылку)</span>
    <span id='copy-text-btn'>📋<br>Копировать<br>"текст"</span>
    <span id='copy-address-btn'>📋<br>Копировать<br>(ссылку)</span>
    <span id='copy-link-btn'>🔗<br>Копировать<br>гиперссылку</span>
  </div>

  <%= javascript_include_tag "index", media: "all" %>
<% end %>
