<div class='hint' style='margin-top: 0;'>Поиск: </div>
<form action="/" onsubmit="goToSearch();return false;">
  <input class='pretty' name="text" type="text" id='search-input' placeholder='Фраза' value='<%= @search_text %>'>
</form>

<br>

<div class='search-options'>
  <select id="search-books" name="books" onchange="goToSearch();return false;">
    <option value='' <% if @search_books.blank? %>selected<% end %>>Любая Книга</option>
    <option value='z1' <% if @search_books == 'z1' %>selected<% end %>>Ветхий Завет</option>
    <option value='z2' <% if @search_books == 'z2' %>selected<% end %>>Новый Завет</option>
    <% BOOKS.each do |book, params| %>
      <option value='<%= book %>' <% if @search_books == book %>selected<% end %> ><%= params[:name] %></option>
    <% end %>
  </select>

  <select id="search-accuracy" name="accuracy" onchange="goToSearch();return false;">
    <option value='exact' <% if @search_accuracy == 'exact' %>selected<% end %>>Точная фраза</option>
    <option value='similar' <% if @search_accuracy == 'similar' %>selected<% end %>>Похожая фраза</option>
    <option value='partial' <% if @search_accuracy == 'partial' %>selected<% end %>>Часть слова</option>
  </select>
</div>

<div class='hint'>Совпадений: <%= @matches_count %></div>
<hr>

<% @verses.each do |v| %>
  <div class='line'>
    "<%= verse_alone_clean(v.text.html_safe) %>"
    <a href="/<%= v.book %>/<%= v.chapter %>#L<%= v.line %>">
      (<%= ::I18n.t("books.short.#{ v.book }") %>. <%= v.chapter %>:<%= v.line %>)
    </a>
  </div>
  <br>
<% end %>


<%= javascript_include_tag "search", media: "all" %>
