<!DOCTYPE html>
<html lang="<%= ::I18n.locale %>">
  <head>
    <meta charset="UTF-8">
    <link rel="canonical" href="<%= @canonical_url %>"/>
    <title><%= I18n.t('title') %> — <%= @page_title %></title>
    <meta name="description" content="<%= @meta_description %>"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=0.5,maximum-scale=1.5">
    <meta property="og:site_name" content="<%= I18n.t('title') %>"/>
    <meta property="og:title" content="<%= I18n.t('title') %> — <%= @page_title %>"/>
    <meta property="og:description" content="<%= @meta_description %>"/>
<%= content_for?(:head) ? yield(:head) : '' %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= my_res_link_to('/favicons/apple-touch-icon.png') %>">
    <link rel="icon" type="image/svg+xml" href="<%= my_res_link_to('/favicons/favicon.svg') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= my_res_link_to('/favicons/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= my_res_link_to('/favicons/favicon-16x16.png') %>">
    <link rel="shortcut icon" href="<%= my_res_link_to('/favicons/favicon.ico') %>">
    <link rel="manifest" href="<%= my_res_link_to('/favicons/site.webmanifest') %>">
    <link rel="mask-icon" href="<%= my_res_link_to('/favicons/safari-pinned-tab.svg') %>" color="#75a361">
    <meta name="apple-mobile-web-app-title" content="Bibleox">
    <meta name="application-name" content="Bibleox">
    <meta name="apple-mobile-web-app-status-bar-style" content="#a4d091">
    <meta name="msapplication-TileColor" content="#a4d091">
    <meta name="msapplication-config" content="<%= my_res_link_to('/favicons/browserconfig.xml') %>">
    <meta name="theme-color" content="#a4d091">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <style type="text/css">
    <% if @current_lang == 'csl-pnm' %>
      @font-face {font-family: "Ponomar";src: url('<%= my_res_link_to('/fonts/PonomarUnicode.otf') %>') format("opentype");}
      .csl {font-family: "Ponomar", Verdana, Tahoma;font-size: 1.4em;line-height: 1.5em;}
    <% end %>
    <% if @text_direction %>
      .verse-text {direction: <%= @text_direction %>;}
    <% end %>
    </style>
    <%= javascript_include_tag "application", media: "all" %>
  </head>

  <% classes = @is_night_mode ? "night-mode" : "" %>
  <body class="<%= classes %>">
    <header>
      <div class='container'>
        <div class="logo">
          <a href="<%= my_link_to('/gen/1/') %>">
            <img src="<%= my_res_link_to("/logo/bibleox-#{ ::I18n.locale == :en ? 'en' : ['ru', 'cs', 'gr', 'en'].sample }.png") %>">
          </a>
        </div>
        <nav>
          <a href="javascript:" id='bible-link' class="local <%= @current_menu_item == 'biblia' ? ' selected' : nil %>" onclick="menuBooks.show('bible-clicked');"><%= I18n.t('menu.bible') %></a>
          <a href="<%= my_link_to( I18n.locale == :ru ? '/search/?acc=similar&l=ru&t=Христос%20Бог' : '/search/?acc=similar&l=eng-nkjv&t=Christ%20God') %>" class="<%= @current_menu_item == 'search' ? ' selected' : nil %>"><%= I18n.t('menu.search') %></a>
          <a href="javascript:" id="night-mode-switcher" class="local" onclick="switchNightMode()"><%= @is_night_mode ? I18n.t('menu.night') : I18n.t('menu.day') %></a>
        </nav>

        <% if @current_menu_item == 'biblia' %>
          <select id="lang-select" name="lang-select" onchange="selectLang();return false;">
            <option value='ru' <% if @current_lang == 'ru' %>selected<% end %>><%= I18n.t('bib_translations.ru') %> (RST)</option>
            <option value='csl-pnm' <% if @current_lang == 'csl-pnm' %>selected<% end %>><%= I18n.t('bib_translations.csl') %> (ELZ)</option>
            <option value='csl-ru' <% if @current_lang == 'csl-ru' %>selected<% end %>><%= I18n.t('bib_translations.csl') %> (ELZ-RU)</option>
            <option value='eng-nkjv' <% if @current_lang == 'eng-nkjv' %>selected<% end %>><%= I18n.t('bib_translations.en') %> (NKJV)</option>
            <option value='heb-osm' <% if @current_lang == 'heb-osm' %>selected<% end %>><%= I18n.t('bib_translations.heb') %> (OSM)</option>
            <option value='gr-lxx-byz' <% if @current_lang == 'gr-lxx-byz' %>selected<% end %>><%= I18n.t('bib_translations.gr') %> (LXX+Byz)</option>
          </select>
        <% end %>
      </div>
    </header>

    <div class='flex-wrap'>
      <div class="content">
        <%= render(partial: 'verses/books') %>
        <%= yield %>
      </div>
    </div>

    <footer>
      <dd class='tip'><%= I18n.t('tips.click_on_verse') %> <%= I18n.t('tips.click_on_verse__working') %> <div class='key'>Shift</div> <%= I18n.t('tips.click_on_verse__and') %> <div class='key'>Ctrl</div></dd>
      <dd id='change-locale-area'>
        <%= I18n.t('menu.locale') %>:
        <a href='/en/gen/1/' onclick="window.selectLocale('en');return false;">English</a>,
        <a href='/ru/gen/1/' onclick="window.selectLocale('ru');return false;">Русский</a>
      </dd>
      <dd>2022 <%= I18n.t('years_from') %></dd>
      <dd><a href='<%= my_link_to('/about/') %>'><%= I18n.t('about_site') %></a></dd>
    </footer>

<%= content_for?(:end_of_page) ? yield(:end_of_page) : '' %>
    <%= javascript_include_tag "all_after", media: "all" %>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();
      for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
      k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(90555809, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
      });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/90555809" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  </body>
</html>
