<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t('title') %> — <%= @page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="<%= asset_path("favicon.svg") %>" type="image/svg+xml">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <style type="text/css">
    <% if current_lang == 'csl-pnm' %>
      @font-face {
        font-family: "Ponomar";
        src: url(<%= asset_path('PonomarUnicode.otf') %>) format("opentype");
      }
      .csl {
        font-family: "Ponomar", Verdana, Tahoma;
        font-size: 1.4em;
        line-height: 1.5em;
      }
    <% end %>

    <% if @text_direction %>
      .verse-text {
        direction: <%= @text_direction %>;
      }
    <% end %>
    </style>
    <%= javascript_include_tag "application", media: "all" %>
  </head>

  <% classes = @is_night_mode ? "night-mode" : "" %>
  <body class="<%= classes %>">
    <header>
      <div class='container'>
        <div class="logo">
          <a href="/"><%= image_tag("bibleox-#{ ['ru', 'cs', 'gr', 'en'].sample }.png") %></a>
        </div>
        <nav>
          <a href="javascript:" id='bible-link' class="local <%= @current_menu_item == 'biblia' ? ' selected' : nil %>" onclick="menuBooks.show('bible-clicked');"><%= I18n.t('menu.bible') %></a>
          <a href="/q" class="<%= @current_menu_item == 'quotes' ? ' selected' : nil %>"><%= I18n.t('menu.quotes') %></a>
          <a href="/search?acc=similar&t=Христос" class="<%= @current_menu_item == 'search' ? ' selected' : nil %>"><%= I18n.t('menu.search') %></a>
          <a href="javascript:" id="night-mode-switcher" class="local" onclick="switchNightMode()"><%= @is_night_mode ? I18n.t('menu.night') : I18n.t('menu.day') %></a>
        </nav>

        <select id="lang-select" name="lang-select" onchange="selectLang();return false;">
          <option value='ru' <% if cookies[:'b-lang'] == 'ru' %>selected<% end %>>Русский <br>(RST)</option>
          <option value='csl-pnm' <% if cookies[:'b-lang'] == 'csl-pnm' %>selected<% end %>>Ц-Слав. (ELZ)</option>
          <option value='csl-ru' <% if cookies[:'b-lang'] == 'csl-ru' %>selected<% end %>>Ц-Слав. (ELZ-RU)</option>
          <option value='eng-nkjv' <% if cookies[:'b-lang'] == 'eng-nkjv' %>selected<% end %>>English (NKJV)</option>
          <option value='heb-osm' <% if cookies[:'b-lang'] == 'heb-osm' %>selected<% end %>>Hebrew (OSM)</option>
          <option value='gr-lxx-byz' <% if cookies[:'b-lang'] == 'gr-lxx-byz' %>selected<% end %>>Greek (LXX+Byz)</option>
        </select>
      </div>
    </header>

    <div class='flex-wrap'>
      <div class="content">
        <%= render(partial: 'verses/books') %>
        <%= yield %>
      </div>
    </div>

    <footer>
      <dd><%= I18n.t('footer_title') %></dd>
      <dd>2022 <%= I18n.t('years_from') %></dd>
      <dd><a href='/about'><%= I18n.t('about_site') %></a></dd>
    </footer>

    <%= content_for?(:end_of_page) ? yield(:end_of_page) : '' %>
    <%= javascript_include_tag "all_after", media: "all" %>
  </body>
</html>
