<!DOCTYPE html>
<html>
  <head>
    <title>Библeокс — <%= @page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="<%= asset_path("favicon.svg") %>" type="image/svg+xml">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <% if current_lang == 'csl-pnm' %>
      <style type="text/css">
        @font-face {
          font-family: "Ponomar";
          src: url(<%= asset_path('PonomarUnicode.otf') %>) format("opentype");
        }
        .verse-text {
          font-family: "Ponomar", Verdana, Tahoma;
          font-size: 1.4em;
          line-height: 1.5em;
        }
      </style>
    <% end %>
    <%= javascript_include_tag "application", media: "all" %>
  </head>

  <% classes = @is_night_mode ? "night-mode" : "" %>
  <body class="<%= classes %>">
    <header>
      <div class='container'>
        <div class="logo">
          <a href="/"><%= image_tag("bibleox-#{ ['ru', 'cs', 'gr', 'en'].sample }.png") %></a>
        </div>
        <nav>
          <a href="javascript:" id='bible-link' class="local <%= @current_menu_item == 'biblia' ? ' selected' : nil %>" onclick="menuBooks.show('bible-clicked');">Библия</a>
          <a href="/q" class="<%= @current_menu_item == 'quotes' ? ' selected' : nil %>">Цитаты</a>
          <a href="/search?acc=exact&t=Христос" class="<%= @current_menu_item == 'search' ? ' selected' : nil %>">Поиск</a>
          <a href="javascript:" id="night-mode-switcher" class="local" onclick="switchNightMode()"><%= @is_night_mode ? "Ночь" : "День" %></a>
        </nav>

        <select id="lang-select" name="lang-select" onchange="selectLang();return false;">
          <option value='ru' <% if cookies[:'b-lang'] == 'ru' %>selected<% end %>>Русский</option>
          <option value='csl-pnm' <% if cookies[:'b-lang'] == 'csl-pnm' %>selected<% end %>>Ц-Славянский</option>
          <option value='csl-ru' <% if cookies[:'b-lang'] == 'csl-ru' %>selected<% end %>>Ц-Славянский (рус)</option>
        </select>
      </div>
    </header>

    <div class='flex-wrap'>
      <div class="content">
        <%= render(partial: 'verses/books') %>
        <%= yield %>
      </div>
    </div>

    <footer>
      <dd>Библеокс — Библео́ѯ — Βιβλεо́ξ — Bibleox</dd>
      <dd>2022 год от Рождества Христова</dd>
      <dd><a href='/about'>О сайте</a></dd>
    </footer>

    <%= content_for?(:end_of_page) ? yield(:end_of_page) : '' %>
    <%= javascript_include_tag "all_after", media: "all" %>
  </body>
</html>
